.login {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
}

.windowNumber {
    margin-bottom: 30px;
}

.wrapper {
    height: calc(100dvh - 76px);
}

.button {
    margin-bottom: 20px;
}
